.movie-item__image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    max-height: 600px;
    

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &:hover {
        .movie-item__overlay {
            opacity: 1;
            visibility: visible;
        }
    }
    .movie-item__overlay {
        opacity: 0;
        transition: opacity 0.5s ease, visibility 0.5s;
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 2px;
        background: rgba(0, 0, 0, 0.3);

        .play-icon {
            width: 55px;
            height: 55px;

            .icon {
                width: 55px;
                height: 55px;
                color: #fff;
            }
        }
    }
}

.list-movie {
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
    .movie-item {
        width: 25%;
        padding: 0 30px 30px;

        .movie-item__image {
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            max-height: 360px;
            

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &:hover {
                .movie-item__overlay {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .movie-item__overlay {
                opacity: 0;
                transition: opacity 0.5s ease, visibility 0.5s;
                position: absolute;

                top: 0;
                left: 0;
                right: 0;
                bottom: 2px;
                background: rgba(0, 0, 0, 0.3);

                .play-icon {
                    width: 55px;
                    height: 55px;

                    .icon {
                        width: 55px;
                        height: 55px;
                        color: #fff;
                    }
                }
            }
        }
        .movie-item__bottom {
            .movie-item__title {
                display: block;
                font-size: 18px;
                font-weight: 600;
                margin: 5px 0 10px;
                color: var(--primary-color);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            p {
                line-height: 21px;
                color: var(--secondary-color);
                font-weight: 300;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                strong {
                    font-weight: 700;
                    padding-right: 6px;
                }
            }
            .btn-ticket {
                &:hover{
                    opacity: .6;
                }
                cursor: pointer;
                position: relative;
                margin-top: 30px;
                margin-bottom: 30px;
                display: block;
                width: 100%;
                text-transform: uppercase;
                background-image: linear-gradient(
                    to right,
                    #0a64a7 0%,
                    #258dcf 51%,
                    #3db1f3 100%
                );
                font-size: 18px;
                color: #fff;
                border-radius: 4px;
                padding: 7px 14px;
                border: none;
                text-align: center;
                transition: 0.5s;
                background-size: 200% auto;
                font-weight: 500;
                letter-spacing: 0;
                overflow: hidden;
                .icon-ticket {
                    opacity: 0.5;
                    left: -6px;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);

                    .icon {
                        width: 70px;
                        height: 70px;
                    }
                }

                
            }
        }
    }
}
.dayofweek li {
    width: 14.285%;
    text-align: center;
}


.dayofweek {
    justify-content: center;
}

.nav-tabs {
    border-color: #ccc;
}

.title {
    font-size: 36px;
    color: #337ab7;
}

.subtitle {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.list-time {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.item-time{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}

.list-time span:first-child {
    background-color: #cccccc;
    padding: 10px 30px;
}

.list-time span:last-child {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.activeTab {
    border-bottom: 2px solid #03599d;
}

.swiper-wrapper {
    text-align: center;
}

.title-swiper {
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, #39adf0 0%, #075fa3 100%);
    border-image-slice: 1;
    border-width: 0px 0px 4px 0px;
}

